/*------------------------------------*\
  # COLOUR PALETTE
\*------------------------------------*/

 /*------------------------------------*\
  1. COLOUR DEFINITIONS
 \*------------------------------------*/

 $_black: #000;
 $_white: #fff;
 $_jacarina: #2E3542;
 $_shiny-cowbird: #121212;

 /*------------------------------------*\
  2. COLOUR IMPLEMENTATIONS
 \*------------------------------------*/

 $image-placeholder: $_jacarina;

 /*------------------------------------*\
  # DEPRECATED - DO NOT ADD TO THIS LIST!
 \*------------------------------------*/

$white: #ffffff;
$silver: #bbbbbb;
$light-grey: #E0E1E2;
$dark-grey: #696969;
$broadcast-white: rgba(255, 255, 255, .6);
$empty-state-white: rgba(255, 255, 255, .04);
$black: #000000;
$black--alt: #111111;
$black-transparent: rgba(0, 0, 0, .7);
$shiny-cowbird: #121212;
$schedule-black: rgba(0, 0, 0, .2);
$broadcast-black: rgba(0, 0, 0, .2);
$pink: #f54997;
$pink-transparent: rgba(245, 73, 151, 0.85);
