body, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, dl, dd, ol, ul, form, fieldset, legend,
figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-weight: inherit; }

body {
  font-weight: normal; }

/*------------------------------------*  # COLOUR PALETTE
\*------------------------------------*/
/**
 * The CAP colour palette is comprised of 2 parts.
 *
 * 1. Colour definitions. These variables give our HEX codes a human readable
 * name, but ARE NOT designed to be implemented directly within components. UX
 * will supply these names for us (they're usually types of bird).
 *
 * 2. Colour implementations. These variables DESCRIBE a colour definition in
 * a functional context. They are designed to be used within components.
 * Several implementations can (and should) share the same definition.
 *
 * NOTE: UX can help us with naming new colour implementations. If we can't
 * think of a suitable implementation name, ask WHY the colour has been chosen
 * for this specific purpose.
 *
 * EXAMPLE IMPLEMENTATION
 *
 * $brand-base: $_shiny-cowbird;
 * $brand-accent: $_black;
 * $primary-title: $_black;
 * $sub-title: $_macaw;
 * $modal-background: $_midnight-skylark;
 */
/*------------------------------------*  1. COLOUR DEFINITIONS
 \*------------------------------------*/
/*------------------------------------*  2. COLOUR IMPLEMENTATIONS
 \*------------------------------------*/
/*------------------------------------*  # DEPRECATED - DO NOT ADD TO THIS LIST!
 \*------------------------------------*/
.cap-u-circle {
  border-radius: 50%; }

.cap-u-reith-light {
  font-weight: 300 !important; }

.cap-u-antialiased {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

.cap-u-truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }

@media (min-width: 56.25em) {
  .cap-u-truncate--expand\@l {
    white-space: normal !important; } }

.cap-u-flex-nowrap {
  flex-wrap: nowrap !important;
  -webkit-flex-wrap: nowrap !important; }

/*------------------------------------*    # ISLAND
\*------------------------------------*/
/**
 * The island will isolate items to be positioned absolutely
 * and can be positioned to any corner using the modifiers.
 *
 *  <div class="cap-o-island">
 *      <div class="cap-o-island__point">
 *          [this is absolute positioned to the top left]
 *      </div>
 *  </div>
 *
 */
.cap-o-island {
  position: relative; }

.cap-o-island__point {
  position: absolute; }

.cap-o-island__point--br {
  bottom: 0;
  right: 0; }

.cap-o-island__point--tr {
  top: 0;
  right: 0; }

.cap-o-island__point--center {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

/*------------------------------------*    # LINK
\*------------------------------------*/
/*
All links should use both classes below. How you use them depends
on the use case as described below.

[1] 'cap-o-link'
Used on all links to remove the text underline decoration.

[2] 'cap-o-link__text'
Applied to text within a link to apply color and transitions.

When using a single link item, apply both styles to the same element. E.g.

<a class="cap-o-link cap-o-link__text">
    Index Also title
</a>

When using a block link item, apply .cap-o-link to the anchor tag,
and the .cap-o-link__text to text items within the link block. E.g.

<a class="cap-o-link">
    <h3 class="cap-o-link__text">
        Heading
    </h3>
</a>
*/
/*
  - Primary link
  A primary link is used to signify an action that DOES
  affect or control "play". For example, listen to a programme.
*/
/*[1]*/
.cap-o-link {
  text-decoration: none; }

/*[2]*/
.cap-o-link__text {
  -moz-transition-property: color 0.5s ease;
  -o-transition-property: color 0.5s ease;
  -webkit-transition-property: color 0.5s ease;
  transition: color 0.5s ease;
  color: #ffffff; }

/*
  cap-o-link active and hover states
  Built to support same-level nesting as per
  the first use case
*/
.cap-o-link:visited.cap-o-link__text,
.cap-o-link:visited .cap-o-link__text {
  color: #ffffff; }

.cap-o-link:hover.cap-o-link__text,
.cap-o-link:hover .cap-o-link__text,
.cap-o-link:focus.cap-o-link__text,
.cap-o-link:focus .cap-o-link__text {
  color: #f54997;
  text-decoration: none; }

/*
  - Secondary link
  A secondary link is used to signify an action that DOESN'T
  affect or control "play". For example, an external link.
*/
.cap-o-link--secondary:hover.cap-o-link__text,
.cap-o-link--secondary:hover .cap-o-link__text,
.cap-o-link--secondary:focus.cap-o-link__text,
.cap-o-link--secondary:focus .cap-o-link__text {
  color: #c0bebe;
  text-decoration: underline; }

/*------------------------------------*    # PIPED
|*------------------------------------*/
/*
* The `piped` pattern adds a pipe (small line) in between list items
* (e.g. item | item ) with the appropriate spacing.
* It will not add a pipe or spacing to the last item / a single item.
*
* Note: We are using a last-child/border right pattern as pipes should always
* couple with content to their left when wrapping.
*
* EXAMPLE IMPLEMENTATION
* <ul className="cap-o-piped">
*   <li className="gs-u-display-inline">text</li>
*   <li className="gs-u-display-inline">text</li>
* </ul>
*/
.cap-o-piped li:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0; }

.cap-o-piped li {
  border-right: 1px solid #ffffff;
  padding-right: 8px;
  margin-right: 8px; }

/*------------------------------------*    # RESPONSIVE IMAGE
\*------------------------------------*/
/** From Grandstand: https://github.com/bbc/grandstand/blob/master/lib/objects/_responsive-image.scss
 *
 * We are not using the Grandstand supplied responsive image as we have a specific placeholder
 * image that we need to use and Grandstand does not offer this extensibility.
 * Additionally, we have some modifiers which are not available in Grandstand.
 *
**/
/**
 * The responsive image pattern automatically reserves the space
 * needed for an image to be inserted, additionally you can add some modifiers
 * or an image overlay if needed.
 *
    <div class="cap-o-responsive-image [ cap-o-responsive-image--1by1 | cap-o-responsive-image--16by9 ]">
        <img src="..." class="cap-o-responsive-image__img" />
        <div class="cap-o-responsive-image__overlay">...</div>
    </div>
 *
 * 1. Setting the height to zero collapses the div so we don't
 *    need to absolutly position the image
 * 2. Stop images 1px difference between the reserved space
 *    and the actual image from showing
 */
.cap-o-responsive-image {
  position: relative;
  height: 0;
  /* [1] */
  overflow: hidden;
  /* [2] */
  background-color: #2E3542;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NjcgNzU2Ij4gICAgICAgICAgICAgICAgPHBhdGggZD0iTTM4My42MTQgMTcxLjQwM3YtMzUuMmMxMzUuODggMCAyNDYuNDEyIDExMC41MzIgMjQ2LjQxMiAyNDYuNDFoLTM1LjIwMmMwLTExNi40NjQtOTQuNzQ1LTIxMS4yMS0yMTEuMjEtMjExLjIxem0xNDAuODA3IDIxMS4yMWMwLTc3LjYzNi02My4xNy0xNDAuODA2LTE0MC44MDYtMTQwLjgwNnYtMzUuMjAyYzk3LjA1IDAgMTc2LjAxIDc4Ljk1OCAxNzYuMDEgMTc2LjAxSDUyNC40MnpNMzgzLjYxNSA0ODguMjJjLTU4LjMzIDAtMTA1LjYwNS00Ny4yNzctMTA1LjYwNS0xMDUuNjA2IDAtNTguMzMgNDcuMjc1LTEwNS42MDUgMTA1LjYwNC0xMDUuNjA1IDU4LjMzIDAgMTA1LjYwNSA0Ny4yNzUgMTA1LjYwNSAxMDUuNjA0IDAgNTguMzMtNDcuMjc3IDEwNS42MDUtMTA1LjYwNiAxMDUuNjA1em0wLTM4Ny4yMkMyMjguMDc0IDEwMSAxMDIgMjI3LjA3NSAxMDIgMzgyLjYxNGMwIDE1NS41NCAxMjYuMDc1IDI4MS42MTQgMjgxLjYxNCAyODEuNjE0IDE1NS41NCAwIDI4MS42MTQtMTI2LjA3NSAyODEuNjE0LTI4MS42MTRDNjY1LjIyOCAyMjcuMDc0IDUzOS4xNTMgMTAxIDM4My42MTQgMTAxeiIgZmlsbD0iI0ZGRiIgb3BhY2l0eT0iLjIiLz4gICAgICAgICAgICA8L3N2Zz4=");
  background-repeat: no-repeat;
  /**
     * 1. Force the image to sit on top of the placeholder
     * 2. Force the image to fill the available space
     *
     * The exact combination of [1] and [2] is needed to stop the
     * image from being 1px too short, the root cause of which is
     * down to the browser's rendering of sub-pixels
     */ }

.cap-o-responsive-image img {
  position: absolute;
  /* [1] */
  width: 100%;
  /* [2] */
  height: 100%;
  /* [2] */ }

/**
 * A full overlay that covers the image,
 * mostly used for hover effects
 */
.cap-o-responsive-image__overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  -moz-transition-property: background 0.5s ease;
  -o-transition-property: background 0.5s ease;
  -webkit-transition-property: background 0.5s ease;
  transition: background 0.5s ease; }

/**
 * A SVG that sits within the overlay above
 */
.cap-o-responsive-image__svg {
  -moz-transition-property: opacity 0.5s ease;
  -o-transition-property: opacity 0.5s ease;
  -webkit-transition-property: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0; }

/**
 * Removes the default placeholder styles
 * for background-color and background-image
 */
.cap-o-responsive-image--no-placeholder {
  background-color: transparent;
  background-image: none; }

/**
* Image shape modifiers
*/
.cap-o-responsive-image--round .cap-o-responsive-image__img,
.cap-o-responsive-image--round .cap-o-responsive-image__overlay {
  border-radius: 50%; }

/**
 * Aspect radio modifiers
 */
.cap-o-responsive-image--1by1 {
  padding-bottom: 100%; }

.cap-o-responsive-image--16by9 {
  padding-bottom: 56.25%; }

/*------------------------------------*    # SCROLLABLE
|*------------------------------------*/
/*
* The `scrollable` pattern allows you to make a slice horizontally scrollable.
* The <li> MUST carry a CSS width property or it will collapse.
*
* EXAMPLE IMPLEMENTATION
*   <div className="cap-o-scrollable">
*       <ul className="cap-o-scrollable__list">
*           <li>Item</li>
*/
.cap-o-scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.cap-o-scrollable__list {
  white-space: nowrap; }

.cap-o-scrollable__list li {
  display: inline-block;
  white-space: normal; }

.button {
  padding: .5em 1.5em;
  color: #666;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: .3em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }
